
    <div class="container">
      <div class="row">
        <main class="col-md-12">

          <div class="alert alert-primary" role="alert">
            Welcome to my first website!
          </div>
          
          <h2>About Me</h2>
          
          <p>Greetings, this is my website. I am Shiroan Pathmanathan, a student currently enrolled in the Business IT programme. My student ID is 127723229. This website is part of my WEB700 Assignment!</p>
          
          <!-- Additional content goes here -->
  
        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  </body>
</html>
